.header__lang-linkRu {
    max-width: 30px;
    text-decoration: underline;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    margin-right: 0;
  }
  @media screen and (max-width: 1300px) {
  }
  @media screen and (max-width: 1044px) {
  }
  @media screen and (max-width: 788px) {
    .header__lang-linkRu {
      max-width: 22px;
      font-size: 18px;
      line-height: 20px;
    }
  }
  