.lead {
    max-width: 984px;
    margin: auto;
  }
  @media screen and (max-width: 1300px) {
    .lead {
      max-width: 928px;
    }
  }
  @media screen and (max-width: 1044px) {
    .lead {
      max-width: 768px;
    }
  }
  @media screen and (max-width: 788px) {
    .lead {
      max-width: 320px;
    }
  }
  