.photo-grid__items {
    max-width: 284px;
  }
  @media screen and (max-width: 1300px) {
    .photo__grid {
      max-width: 300px;
    }
  }
  @media screen and (max-width: 1044px) {
    .photo__grid {
      max-width: 352px;
    }
  }
  @media screen and (max-width: 788px) {
    .photo__grid {
      max-width: 288px;
    }
  }
  