.photo-grid__item {
    max-width: 284px;
  }
  @media screen and (max-width: 1216px) {
    .photo-grid__item {
      max-width: 300px;
    }
  }
  @media screen and (max-width: 970px) {
    .photo-grid__item {
      max-width: 352px;
    }
  }
  @media screen and (max-width: 745px) {
    .photo-grid__item {
      max-width: 288px;
    }
  }

  