.header{
    max-width: 1184px;
    max-height: 52px;
    display: grid;
    grid-template-columns: 1fr 30px 30px;
    grid-template-rows: 1fr;
    gap: 18px;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 28px;
}
@media screen and (max-width: 1024px){
    .header{
max-width: 928px;
    }
}
@media screen and (max-width: 768px){
    .header{
max-width: 720px;
padding-left: 24px;
padding-right: 24px;
    }
}
@media screen and (max-width: 320px){
    .header{
max-width: 288px1;
padding-left: 16px;
padding-right: 16px;
    }
}
