.footer__link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  padding-right: 18px;
  text-decoration: none;
  opacity: 1;
}
.footer__link:hover {
  transition: link-hover 5s linear forwards;
  opacity: 0.5;
}
@media screen and (max-width: 1300px) {
  .footer__link {
  }
}
@media screen and (max-width: 1044px) {
}
@media screen and (max-width: 788px) {
  .footer__link {
    display: block;

    font-size: 24px;
    line-height: 24px;
    padding-bottom: 32px;
  }
}

