.cover {
    margin: auto;
    width: 1184px;
    margin-top: 67px;
    background: url(../../sprint-3-images/cover-trains.jpg);
    background-repeat: no-repeat;
    background-size: 1184px 740px;
    position: relative;
  }
  @media screen and (max-width: 1300px) {
    .cover {
      width: 1024px;
      background-size: 1024px 640px;
      margin-top: 67px;
    }
  }
  @media screen and (max-width: 1044px) {
    .cover {
      width: 768px;
      margin-top: 65px;
      background-size: 768px 480px;
    }
  }
  @media screen and (max-width: 788px) {
    .cover {
      margin-top: 41px;
      width: 320px;
      background-size: 320px 200px;
    }
  }  