.cover {
    margin: auto;
    max-width: 1184px;
    margin-top: 67px;
    background: url(../../sprint-3-images/cover-trains.jpg);
    background-repeat: no-repeat;
    background-size: 1184px 740px;
    position: relative;
  }
  @media screen and (max-width: 1024px) {
    .cover {
      max-width: 1024px;
      background-size: 1024px 640px;
    }
  }
  @media screen and (max-width: 768px) {
    .cover {
      max-width: 768px;
      margin-top: 40px;
      background-size: 768px 480px;
    }
  }
  @media screen and (max-width: 320px) {
    .cover {
      margin-top: 41px;
      max-width: 320px;
      background-size: 320px 200px;
    }
  }  