.header__lang-linkEn {
    width: 29px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    margin-right: 0;
    color: #ffffff;
  }
  @media screen and (max-width: 1300px) {
  }
  @media screen and (max-width: 1044px) {
  }
  @media screen and (max-width: 788px) {
    .header__lang-linkEn {
      max-width: 22px;
      font-size: 18px;
      line-height: 20px;
    }
  }
  