.footer {
  max-width: 1184px;
  padding-bottom: 24px;
  display: flex;
  margin: auto;
  padding-top: 92px;
  justify-content: space-between;
}
@media screen and (max-width: 1225px) {
  .footer {
    max-width: 928px;
  }
}
@media screen and (max-width: 980px) {
  .footer {
    max-width: 720px;
    padding-top: 88px;
  }
}

@media screen and (max-width: 750px) {
  .footer {
    max-width: 186px;
    padding-top: 64px;
    margin-left: 16px;
    display: block;
  }
}
