.place__url-heading {
   /* max-width: 456px;*/
   font-family: Inter, Arial, sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   line-height: 12px;
   letter-spacing: 0.2em;
   color: #aaaaaa;
   grid-row-end: 3;
   margin: 0;
 }
 @media screen and (max-width: 1024px) {
   .place__url-heading {
     line-height: 170%;
   }
 }
 @media screen and (max-width: 768px) {
   .place__url-heading {
   }
 }
 @media screen and (max-width: 320px) {
   .place__url-heading {
   }
 }
 